

#top-bar {
	/*display: flex;
	flex-direction: column;*/
	
	margin-top: 0px;
	margin-bottom: 2%;

	
	/*justify-content: space-around;*/
	height: 133px;
	border-bottom: solid black;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b6dffd+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */





}

#high:hover {
	cursor: pointer;
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px;
}

#page-table {
	width: 100%;
	height: 100%;
}

#page-table h1{
	margin-left: 45%;
}

#table-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	width: 1000px;
	
}


#checkout-button {
	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
	margin-left: 80%;
}

#checkout-button:hover {
background: #ffd65e; /* Old browsers */
	background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* IE10+ */
	background: linear-gradient(top, #ffd65e 0%,#febf04 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
	margin-left: 80%;

}



#page-table tr{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 2px dotted rgba(0, 0, 0, 0.2);
	width: 1000px;
	
}

.total-price {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	width: 1000px;
	
}




#science-explained {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#container {
	/*width: 100px;*/

	height: 200px;
	margin-top: -14%;
	margin-right: 85%;
	margin-left: -20%;
	margin-bottom: 10%;

}

#sci-pic img {
	width: 400px;
	height: 300px;
	
}

#sci-three {
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	
}

#science-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#sci-bot {
	width: 300px;
}
.bot-img {
	margin-right: 30%;
}

#pavan-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#pavan-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#pav {
	width: 600px;
	margin-top: 8%;
	margin-right: 10%;
}

#title-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	

}
#top-fix {
	/*background: grey;*/
	color: white;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebcbf), color-stop(50%,#6e7774), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809));
*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: #959595; /* Old browsers */
background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */


}
#cat-top {
	/*margin-bottom: 3%;*/
}

#top-bottom {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1%;
	margin-bottom:5%;
}

#contain {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	margin-left: 10%;
	margin-right: 10%;



/*	margin-top: -75px;*/

}

#categories {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	/*margin-bottom: 2%;*/

}

#page-container {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	/*background: lightgrey;*/
	height: 100%;

}

#page {
	/*width: 100%;*/
}



.item-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	
	
	 /*display: inline;
    float: left;
*/

}

.m-title {
	text-align: left;

}

.m-price {
	text-align: left;
}

.product-list img{
	width: 200px;
	height: 200px;
}
.product-list {
	/*width: 50px;
	height: 50px;
	margin: auto;*/
	 display: block;
    /*padding: 18px;*/
    /*border: 1px solid lightgrey;*/
    margin-right: 5px;
    width: 200px;
    height: 280px;
    display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	/*justify-content: space-between;*/
	margin-top: 10%;
}

#modal {
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(255,255,255,0.9);
    color:black;
    /*margin: 0 auto;*/
    /*padding-top: 2%;*/
    text-align: center;
    overflow: scroll;
    height: 90%;
    z-index: 201;
    /*margin-bottom: -3%;*/
    
   /* margin-left: 5%;*/
    /*margin-right: 5%;*/


}

#modal p {
	margin-top: 5%;
}



.per-modal img {
	width: 250px;
	height: 250px;
}

.per-modal {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
	/*margin-top: 3%;*/
	/*border: 2px solid rgba(0, 0, 0, 0.4);*/
}
.content {
	width: 600px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.close {
	float: right;
	margin-right: 10%;
}

/*#sign-cart-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}*/


/*
#sign-log {
	display: flex;
	flex-direction: row;
	
	margin-left:700px; 
	
	padding: 6px;
	
}*/
/*#sign {
	padding: 6px;

}
#checkout {
	margin-top: 1%;
}*/

#chat {
	margin-top: 1%;
}

#cart {
	width: 500px;
	height: 600px;
}

#popup {
	position:absolute;
	margin-top: 10%;
	margin-left: 48%;
	/*width:100px; 
	height:10px; */
	border:5px solid #000; 
	z-index: 9002; 
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border: 2px solid rgba(255, 255, 255, 0.8);
	
}

#chat-popup {
	position:absolute;
	width:400px; 
	height:400px; 
	border:5px solid #000; 
	z-index: 9002; 
	
}

#map {
	width: 300px;
	height: 300px;
}

#msgBox {
	height: 200px;
	width: 300px;
	border: 1px solid blue;
	overflow-y: scroll;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */


}

#chat-popup {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1ffff+0,e1ffff+7,e1ffff+12,fdffff+12,e6f8fd+30,c8eefb+54,bee4f8+75,b1d8f5+100;Blue+Pipe+%232 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

	height: 315px;
}

#close-chat h3 {
	text-align: right;
	margin-right: 6%;
}



#skin-container {
	background: url(http://wwwlifespancom.c.presscdn.com/wp-content/uploads/2014/01/how-to-keep-your-skin-wrinkle-free.jpg) fixed;
	margin: 0px;
	background-size: 100% 200%;
	width: 100%;



	
    background-repeat: no-repeat;
}

.skin-div {
	
	
	background: rgba(255,255,255,0.9);

	border-radius: 25px;
    border: 2px solid #D0FAEE;
    padding: 20px; 
    width: 400px;
    box-shadow: h-shadow v-shadow blur spread color inset;
   /*padding: ;*/

   /* height: 150px;*/ 
}



#skin-pic1 {
	position: fixed;
	background: url(../assets/images/pic1.jpg) no-repeat 10px 600px;
	background-size: 60%;
	width: 60%; 
	height: 1000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
filter: alpha(opacity=20);  /* IE 5-7 */
-moz-opacity: 0.2;          /* Netscape */
-khtml-opacity: 0.5;        /* Safari 1.x */
opacity: 0.5;


}

#skin-pic2 {
	position: fixed;
	background: url(http://www.pcaskin.com/media/consumers/skin_explained/4.jpg) no-repeat 100px 1000px;
	background-size: 30%;
	width: 30%; 
	height: 1400px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
filter: alpha(opacity=20);  /* IE 5-7 */
-moz-opacity: 0.2;          /* Netscape */
-khtml-opacity: 0.5;        /* Safari 1.x */
opacity: 0.5;
}

#skin-pic3 {
	position: fixed;
	background: url(http://www.pcaskin.com/media/consumers/skin_explained/1.jpg) no-repeat 300px 1000px;
	background-size: 30%;
	width: 40%; 
	height: 1400px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
filter: alpha(opacity=20);  /* IE 5-7 */
-moz-opacity: 0.2;          /* Netscape */
-khtml-opacity: 0.5;        /* Safari 1.x */
opacity: 0.5;
}



#content_layer {
	/*position: absolute;*/
	margin-left: 55%;
/*	position: fixed;*/
	width: 100%; 
	/*height: 100px;*/
	/*background: 800px 100px;*/

	
}

#myCarousel {
	height: 583px;
	width: 993px;
}

.item {
	height: 583px;
	width: 993px;
}

.item img {
	height: 100%;
	width: 100%;
}




* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

.list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}





