

#top-bar {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	background: yellow;
	/*justify-content: space-around;*/
	height: 100px;
}

#web {
	text-align: center;
}

#title-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	

}

#contain {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#categories {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

#page-container {
	margin-left: 10%;
	margin-right: 10%;
	background: lightgrey;
	height: 100%;
}

#page {
	/*height: 800px;*/
}

.item-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 10%;
	
	 /*display: inline;
    float: left;
*/

}

.product-list img{
	width: 200px;
	height: 200px;
}
.product-list {
	/*width: 50px;
	height: 50px;
	margin: auto;*/
	 display: block;
    padding: 10px;
    border: 1px solid red;
    margin-right: 5px;
    width: 200px;
}

#modal {
    display: none;
    position: fixed;
    width: 99%;
    background: rgba(0,0,0,.9);
    color:yellow;
    /*margin: 0 auto;*/
    padding-top: 2%;
    text-align: center;
    overflow: scroll;
    height: 86%;
    z-index: 201;
    margin-bottom: 10%;
   /* margin-left: 5%;*/
    /*margin-right: 5%;*/


}

.per-modal img {
	width: 250px;
	height: 250px;
}

.per-modal {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
}
.content {
	width: 600px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.close {
	float: right;
	margin-right: 10%;
}

#sign-cart-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 2%;
}

#web {
	margin-left: 45%;

}

#sign-log {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	/*justify-content: space-between;*/
}
#sign {
	padding: 6px;
}
#checkout {
	align-self: flex-end;
}

#cart {
	width: 500px;
	height: 500px;
}

#popup {
	position:absolute;
	width:400px; 
	height:400px; 
	border:5px solid #000; 
	z-index: 9002; 
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

